# Xcode
.DS_Store
*.xcodeproj
xcuserdata/
DerivedData/
*.app
*.app.dSYM
*.appex
*.octest
*.one
*.xctest
*.xcworkspace

# Swift Package Manager
.build/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/

# Other
bin/
