# Xcode
.DS_Store
*.xcodeproj
*.xcworkspace
*.playground
xcuserdata/
DerivedData/
build/

# Swift Package Manager
.build/

# CocoaPods
Pods/
*.xcconfig

# Carthage
Carthage/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Misc
.swiftpm/
.vscode/

# Personal
.secret/
